{% extends "base.html" %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Productos</h1>
        <a class="btn btn-success" href="{% url 'agregar_productos' %}">Agregar</a>
    </div>
    <table class="table">
        <tr>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>Proveedor</th>
            <th>ACCIONES</th>
        </tr>
        {% for producto in productos %}
            <tr>
                <td>{{producto.name}}</td>
                <td>L. {{producto.price}}</td>
                <td>{{producto.provider}}</td>

                <td><a href="{% url 'obtener_producto_por_uuid' producto.uuid %}">Ver...</a></td>
                <a href="{% url 'actualizar_productos' producto.uuid  %}" class="btn btn-warning btn-sm">Modificar</a>
          
            </tr>
        {% endfor %}
    </table> 
{% endblock %}